/**/
    button{
        color: #0000ff;
        font-family: Times;
        border-radius: 20px;
    }

    body{
        background-color:skyblue ;
    }

    #minuteStr {
        color: #ff00ff;
        font-size: 20px;
        text-align: left;
        position:absolute; top:210px; 
        left:10px; right:10px;
    }
    
    #secondStr {
        color: #ffff00;
        font-size: 10px;
        text-align: left;
        position:absolute; top:250px; 
        left:10px; right:10px;
        overflow-wrap: break-word;
    }

    #remain {
        color: #0000ff;
        font-size: 20px;
        text-align: center;
        position:absolute; top:310px; 
        left:10px; right:10px;
        font-weight: bold;
        box-shadow: hotpink 5px 5px 5px;
        width:50%;
        margin: 0 auto;
    }
    
    #time {
        color: #ff0000;
        font-size: 20px;
        text-align: center;
        position:absolute; top:340px; 
        left:10px; right:10px;
        box-shadow: 5px 5px 5px;
        width: 50%;
        margin: 0 auto;
    }
    
    #mycanvas {
        color: #00ffff;
        font-size: 40px;
        text-align: center;
        position:absolute; top:10px; 
        left:10px; right:10px;
    }
    
    #btnA {
        font-size: 20px;
        position:absolute; top:410px; left:20%; width:25%; height:60px; 
        background-color: rgb(246, 108, 108);
        color: honeydew;
    }
    
    #btnB {
        font-size: 20px;
        position:absolute; top:380px; left:45%; width:25%; height:60px; 
        background-color: blue;
        color: honeydew;
    }

    #btnC {
        font-size: 20px;
        position:absolute; top:410px; left:70%; width:25%; height:60px; 
        background-color: green;
        color: honeydew;
    }

    #btnD {
        font-size: 20px;
        position:absolute; top:440px; left:45%; width:25%; height:60px; 
        background-color: yellow;
        color: black;
    }
    
    #hour {
        font-size: 30px;
        position:absolute; top:520px; left:60px; width:80px; height:40px;   
    }

    #minute {
        font-size: 30px;
        position:absolute; top:520px; left:170px; width:80px; height:40px;   
    }
    
    #second {
        font-size: 30px;
        position:absolute; top:520px; left:280px; width:80px; height:40px;   
    }
    
    input[type=number] {text-align: right;}